/* global style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 5vh;
}

body {
  font-family: "Poppins", sans-serif;
  color: #dddddc;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2.6rem;
}
h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #c4c4c3;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #363748;
  border: none;
  color: #c4c4c3;
  font-size: 1.8rem;
  cursor: pointer;
}

/* nav section with hero */

.main-head {
  background: #020204;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 5vh;
  display: flex;
  padding: 1rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-size: 5rem;
  font-weight: normal;
}

.hero {
  min-height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/img/landing-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Namibia Highlights */
#highlights {
  min-height: 95vh;
  color: #363748;
  background-color: #f2f2f2;
}

.highlights-head {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5rem 0 5rem;
}

#highlights-list-map-container {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.highlights-list {
  text-align: center;
  color: #363748;
  min-width: 40vh;
}

.map {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  size: 100%;
  overflow: hidden;
}

#highlights-cards {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#highlights-cards img {
  padding: 2rem;
  height: 100px;
}

/* About */
#about-travelly {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(/img/harbour-page.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-travelly {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 2rem;
  padding: 3rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(66, 71, 138, 0.386);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.image {
  height: 250px;
  border-radius: 50%;
}

/* Contact */
#contact {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(/img/contact-ethosa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-us {
  width: 90%;
  margin: auto;
  padding: 5rem;
  text-align: center;
  justify-content: center;
}

.form-info {
  padding: 2rem;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

.form-info textarea,
input {
  width: 66%;
  margin-bottom: 2rem;
}

.form-info textarea {
  height: 200px;
}

.social-media {
  width: 90%;
  margin: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media ul {
  list-style: none;
}

.social-media img {
  height: 75px;
  padding: 1rem;
  vertical-align: middle;
}

.social-media a {
  color: white;
}

/* Footer */
#footer {
  min-height: 5vh;
  background: #020204;
  padding-top: 2rem;
}

#copyright {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Accessibility */
button:focus {
  background: #505050;
}

button:hover {
  background: #505050;
}

/* Media */

@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #Logo {
    padding: 1rem;
  }
  .highlights-head {
    padding-top: 4rem;
  }
  .map {
    padding-top: 10rem;
  }
  #highlights-cards {
    padding: 4rem 0rem 4rem;
  }
}
