/* global style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #dddddc;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2.6rem;
}
h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: #c4c4c3;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #363748;
  border: none;
  color: #c4c4c3;
  font-size: 1.8rem;
  cursor: pointer;
}

/* nav section with hero */

.main-head {
  background: #020204;
  position: sticky;
  top: 0px;
}

nav {
  min-height: 5vh;
  display: flex;
  padding: 1rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-size: 5rem;
  font-weight: normal;
}

.hero {
  min-height: 89vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/img/landing-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Namibia Highlights */
#highlights {
  min-height: 100vh;
  color: #363748;
  background-color: #f2f2f2;
}

.highlights-head {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5rem 0 5rem;
}

#highlights-list-map-container {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.highlights-list {
  text-align: center;
  color: #363748;
  min-width: 40vh;
}

.map {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  size: 100%;
  overflow: hidden;
}

#highlights-cards {
  min-height: 30vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#highlights-cards img {
  padding: 2rem;
  height: 100px;
}

/* About */
#about-travelly {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(/img/harbour-page.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#about-travelly {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
}

.about-travelly h3 {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
}

.card-container {
  padding: 5rem;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 2rem;
  padding: 3rem;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  color: #363748;
  box-shadow: 0px 7px 22px 5px rgba(227, 227, 227, 0.9);
}

.image {
  height: 250px;
  border-radius: 50%;
}

/* Contact */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(/img/contact-ethosa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-us {
  padding-top: 10rem;
  width: 90%;
  margin: auto;
  text-align: center;
}

.form-info {
  width: 90%;
  min-height: 80vh;
  padding: 2rem;
  margin: auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-form,
.email-form {
  padding-bottom: 3rem;
  text-align: center;
}

.message-form textarea {
  height: 150px;
  width: 300px;
}

.message-form label {
  text-emphasis: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
#footer {
  min-height: 7vh;
  background: #020204;
  padding-top: 2rem;
}

#copyright {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* Media */

@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #Logo {
    padding: 1rem;
  }
  .highlights-head {
    padding-top: 4rem;
  }
  .map {
    padding-top: 10rem;
  }
  #highlights-cards {
    padding: 4rem 0rem 4rem;
  }
}
